<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Add Family Memb</title>
</head>
<body>
    <h1>Gameathon</h1>
    <p>Please enter Family member Information , <span th:text="${username}"></span> </p>
    <a th:href="@{/familyPage(username=${username})}">
        <button type="button">Back to Family</button>
    </a>
    <input type="text" id="userID" name="userID" placeholder="UserID?"/>
    <button type="button">Fake Submit</button>

</body>
</html>

