<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Add Game</title>
</head>
<body>
    <h1>Gameathon</h1>
    <p>Please enter game information: <span th:text="${username}"></span> </p>
    <a th:href="@{/ownerPage(username=${username})}">
        <button type="button">My Home</button>
    </a>
    <form th:action="@{/addGame}" method="post">
        <input type="hidden" name="username" th:value="${username}"/>
        <input type="text" id="gameName" name="gameName"
               placeholder="Game Name" autocomplete="off"/>

        <input type="hidden" id="gameID" name="gameID"/>
        <div id="gameSuggestions"></div>

        <label>Year Produced:</label>
        <input type="number" name="yearProduced" placeholder="Year Produced (optional)"/>

        <br/>

        <button type="submit">Add Game</button>

    </form>
    <script th:src="@{/js/addGame.js}"></script>
</body>
</html>
