<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Gameathon Home</title>
</head>
<body>
    <h1>Gameathon</h1>
    <p>Welcome to your home page, <span th:text="${username}"></span> </p>
    <a th:href="@{/familyPage(username=${username})}">
        <button type="button">Family</button>
    </a>
    <a th:href="@{/ownerPage(username=${username})}">
        <button type="button">My Home</button>
    </a>
</body>
</html>