<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Owner Home</title>
</head>
<body>
    <h1>Gameathon</h1>
    <p>Welcome to your owner home page, <span th:text="${username}"></span> </p>
    <a th:href="@{/homePage(username=${username})}">
        <button type="button">Home</button>
    </a>
    <a th:href="@{/familyPage(username=${username})}">
        <button type="button">Family Home</button>
    </a>
    <a th:href="@{/viewGamesPage(username=${username})}">
        <button type="button">View Games</button>
    </a>
    <a th:href="@{/addGametoCollectionPage(username=${username})}">
        <button type="button">Add Game</button>
    </a>
</body>
</html>